.Layers {
  flex: 1;
  max-height: 100%;
  min-height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.Layers ul {
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}

/* List style made in JS */
.Layer {
  user-select: none;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.Layer.active {
  background-color: var(--blue-color);
  color: var(--white-color);
}
