.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--white-color);
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg-color);
}

.Navbar {
  border: var(--border-size) solid var(--purple-color);
  position: absolute;
  z-index: 1000;
  top: 16px;
  left: 16px;
  right: 16px;
  width: auto;
  height: calc(var(--navbar-height) - var(--border-size) * 2);
  background-color: var(--bg-color);
}

.Sidebar {
  position: absolute;
  z-index: 1000;
  top: calc(var(--navbar-height) + 32px);
  left: 16px;
  bottom: 16px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height) - 48px);
  max-height: calc(100vh - var(--navbar-height) - 48px);
}
