button {
  background: var(--purple-color);
  border-color: var(--purple-color);
}

.input-group {
  padding: 0px 16px;
  color: var(--blue-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.input-group input,
.input-group select,
.input-group option {
  width: 96px;
}

input, select, option {
  padding: 4px 8px;
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  outline: none!important;
  max-width: 100%;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  transition: background 200ms;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--purple-color);
  transition: background 200ms;
}