.Sidebar-title {
  padding: 16px;
  border-bottom: 2px dashed var(--purple-color);
  font-size: 16px;
  margin: 0 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Sidebar-shape-list {
  padding: 0;
  margin: 0;
}

.Sidebar-item {
  height: 48px;
  padding: 0 16px;
  color: var(--blue-color);
  display: flex;
  align-items: center;
}

.Sidebar-item.active {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.Sidebar-item input {
  padding: 0;
}