.Sidebar {
  display: flex;
  flex-direction: column;
}

.Sidebar > * {
  border: var(--border-size) solid var(--purple-color);
  margin-bottom: 16px;
}

.Sidebar > :last-child {
  margin-bottom: 0px;
}

.Sidebar-title {
  padding: 16px;
  font-size: 16px;
  margin: 0;
}

.Sidebar-shape-list {
  border: var(--border-size) solid var(--purple-color);
  flex: 1;
}

.Sidebar-item input {
  padding: 0;
}

.Sidebar .EditShapeForm {
  border: var(--border-size) solid var(--purple-color);
}