.MenuCreator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MenuCreator button {
  border: none;
  padding: 8px;
  display: flex;
  background: none;
  outline: none;
}

.MenuCreator svg {
  stroke: var(--purple-color);
}